@import url(/node_modules/bootstrap-icons/font/bootstrap-icons.css);

@import "custom";
.gradient-primary {
  background: linear-gradient(90deg, #3ca55c, #b5ac49);
  color: #fff; // Texte en blanc pour la lisibilité (optionnel)
}
html {
  position: relative;
  min-height: 100%;
}
main {
  margin-bottom: 150px;
}
footer.footer {
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
