@import url(/node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import "custom";

// .gradient-primary {
//     background: linear-gradient(90deg, #3ca55c, #b5ac49);
// }
* {
    color: white;
}
html {
    min-height: 100%;
}
header nav .navbar {
    padding: 15px !important;
    font-size: 20px !important;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.navbar-nav .nav-link {
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
    border-radius: 25px;
    color: black !important;
}

#submitBtn {
    background-color: rgb(128, 117, 117); // Couleur du bouton désactivé
    border: 1px solid #ccc;
    cursor: not-allowed; // Curseur interdit
    opacity: 0.5; // Transparence pour indiquer qu'il est désactivé
    transition: background-color 0.3s ease, opacity 0.3s ease;

    &:not(:disabled) {
        background-color: #28a745; // Couleur du bouton activé
        border-color: #28a745;
        cursor: pointer;
        opacity: 1; // Pleine opacité
    }

    &:hover:not(:disabled) {
        background-color: #218838; // Couleur légèrement différente au survol
    }
}
